* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  /* background: url("./assets/shop.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80px;
  position: relative;
}

nav {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

nav h2 {
  margin: 0;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-size: 1.35rem;
}
nav li span {
  padding-left: 5px;
}
nav li a {
  display: flex;
  text-decoration: none;
}

.cart a {
  position: relative;
  cursor: pointer;
}
.cart ion-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.cart span {
  position: absolute;
  top: 0.65rem;
  left: 0.45rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  max-width: 100%;
}
.image-container {
  position: relative;
  margin: 1rem;
  text-align: center;
}
.image {
  width: 300px;
  background-color: rgb(218, 214, 218);
  object-fit: cover;
  border-radius: 1rem;
}
.image-container img {
  max-width: 300px;
  max-height: 300px;
  padding: 0;
  margin: 0;
}

.image-container:hover .add-cart {
  opacity: 1;
}

.add-cart {
  opacity: 0;
  padding: 0.6rem;
  position: absolute;
  width: 80%;
  bottom: 4.2rem;
  left: 1.8rem;
  background-color: darkgray;
  color: red;
  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  border: none;
}
.add-cart:hover {
  background-color: rgb(121, 118, 118);
  color: #fff;
}
.title {
  display: flex;
  justify-content: space-between;
}

/* ----cartItem html---- */

nav h2 a {
  text-decoration: none;
}

.items-container {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 3rem;
}

.item-header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid lightgray;
  font-family: inherit;
}

.item-header .product {
  margin-left: 3rem;
}
.item-header h5 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
}

.items {
  width: 100%;
}
.products {
  display: flex;
  margin: 1rem 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.75rem;
}
.product {
  display: flex;
  align-items: center;
  width: 35%;
  margin-left: 1rem;
}
.product ion-icon {
  color: red;
  font-size: 20px;
  cursor: pointer;
  padding-left: 0.25rem;
}

.product img {
  margin: 0;
  width: 100px;
  height: 100px;
  background-color: rgb(218, 214, 218);
  margin: 0 0.5rem;
}

.product .name {
  font-size: 0.85rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.items .quantity ion-icon {
  margin: 0 0.5rem;
  font-size: 20px;
}
